@using System.Numerics

@typeparam TNumber where TNumber : notnull, INumber<TNumber>, new()
@inherits Abstract.PreferenceValueComponentBase<EditNumberPreference<TNumber>>
@inject TranslateService translate

<div>
    <div>
        <label for="@Id" class="text-on-surface">@Title</label>
        @* @if (Preference.Min is { } || Preference.Max is { })
        {
            <span> (</span>
        }
        @if (Preference.Min is { } min)
        {
            <span>Min @min</span>
        }
        @if (Preference.Max is { } max)
        {
            <span>Max @max</span>
        }
        @if (Preference.Min is { } || Preference.Max is { })
        {
            <span>)</span>
        } *@
    </div>
    <input id="@Id" type="number" title="@Title" class="w-full rounded bg-primary px-2 py-1" @bind-value="Value" @oninput="OnChange" @onblur="OnBlur" step="@Preference.Step" min="@Preference.Min" max="@Preference.Max" />
</div>

@code {
    private string Title { get; set; } = string.Empty;
    
    private TNumber Value { get; set; } = new();

    protected override void OnInitialized()
    {
        Title = Preference.Title | translate;
        Value = Preference.Value;
    }

    private void OnChange(ChangeEventArgs e)
    {
        if (TNumber.TryParse(e.Value as string, null, out var newValue) &&
            (Preference.Min is { } min ? newValue >= min : true) &&
            (Preference.Max is { } max ? newValue <= max : true))
        {
            Preference.Value = newValue;
        }
    }

    private void OnBlur(FocusEventArgs e)
    {
        Value = Preference.Value;
    }
}
